.button{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
    background: #0081ff; /* Old browsers */
    background: -moz-linear-gradient(left, #0081ff 0%, #81d742 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0081ff 0%,#81d742 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0081ff 0%,#81d742 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
     
}
.button-file{
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
    background: #0081ff;
}
.button-file:hover{
    background: #81d742;
}
.position-button{
    position: relative;
    left:100px;
	top: 50px;
}

.button:hover{
    cursor: pointer;
    background: #81d742; /* Old browsers */
    background: -moz-linear-gradient(left, #81d742 0%, #0081ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #81d742 0%,#0081ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #81d742 0%,#0081ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
}

