/*CADASTRO*/
.back-tela{
    background: #0081ff; /* Old browsers */
    background: -moz-linear-gradient(left, #0081ff 0%, #81d742 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0081ff 0%,#81d742 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0081ff 0%,#81d742 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.front-tela{
    width:500px;
    height: 400px;
    position: absolute; 
	left: 400px;
	top: 50px;
    background:white;
    border-radius:  12px;
    text-align: center;  
    line-height: 1.5;     
}

.title{
    font-family: 'Courier New', Courier, monospace;
    color: #0081FF;
    position: relative;
    left:-120px;
}
label{
    position: relative;
    left: -180px;
	
}

input{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    color: #81d742;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 0;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid  #0081FF;
    background: none;
    border-radius: 0;
    
    transition: all .15s ease 
}
.inp{ 
    position: relative;
    margin: auto;width: 100%;
    max-width: 280px;
    transform: rotateX(45deg) rotateY(-10deg) rotate(25deg) scale(2)
}
textarea{
    width: 250;
    height: 150;
} 