/* FIELD */
.field {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin: 0 0 15px;
  border: 1px solid #222;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
}

textarea.field {
  height: 150px;
  /* resize: none; */
}

.field:focus {
  border-color: #0678a9;
}
